body
    {
        
        background-image: url(../assests/images/login.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        
    }

.header1
    {
        background-color: rgb(0, 0, 0);
    }

.formbox
    {
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
        background-color: rgb(22, 22, 22);
        height: 370px;
        box-shadow:  0 0 10px rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        margin-top: 250px; 
        
    }


.btncenter
    {
        padding: 5px 10px 5px 10px;
        margin-left: 40%;
    }

.formbox form
    {
        width: 80%;
        color: white;
    }

.signup
    {
        position: absolute;
        margin-top: 330px;
        color: white;
    }

.wrap
    {
        min-height: 100%;
    }

.footer 
    {
        position: relative;
        margin-top: -50px; /* negative value of footer height */
        height: 50px;
        clear:both;
        padding-top:20px;
    } 
